<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<style>
    .page-link {
        color:black;
    }
</style>

<body onload="plotBarChart()">

<div class="container">

    <h1 align="center">Coronavirus Tracker Application</h1>
    <p align="center">This application lists the current number of cases reported across the globe</p>

    <div class="jumbotron">
        <span class="display-3" th:text="${totalCasesReported}"></span>
        <span class="lead">Total cases reported as of today</span>

        <hr class="my-4">

        <span class="display-4" th:text="${totalNewCases}"></span>
        <span class="lead">New cases reported since previous day</span>
    </div>

    <canvas id="bar-chart"></canvas>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>No.</th>
            <th>Province/State</th>
            <th>Country/Region</th>
            <th scope="col">Total Cases Reported</th>
            <th>Changes since last Day</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat, indexInfo : ${paginatedResp}">
            <td th:text="${paginatedResp.number == 0 ? indexInfo.index + 1 : indexInfo.index + 1 + (paginatedResp.size * paginatedResp.number)}"></td>
            <td th:text="${stat.state}"></td>
            <td th:text="${stat.country}"></td>
            <td th:text="${stat.latestTotalCases}">0</td>
            <td th:text="${stat.diffFromPrevDay}">0</td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" th:if="${paginatedResp.totalPages > 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${paginatedResp.number == 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/(page=${paginatedResp.number < 2 ? paginatedResp.number - 1 : paginatedResp.number - 2})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == paginatedResp.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence(paginatedResp.number + 1, paginatedResp.totalPages > 10 + paginatedResp.number ? paginatedResp.number + 10 : paginatedResp.totalPages, 1)}">
                <a class="page-link" th:href="@{/(page=${i - 1})}" th:text="${i}"
                   th:title="${'Page '+ i}" rel="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${paginatedResp.number == paginatedResp.totalPages - 1} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/(page=${paginatedResp.totalPages - paginatedResp.number <= 2 ? paginatedResp.number + 1 : paginatedResp.number + 2})}"
                   aria-label="Next" title="Next Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

</body>

<script th:inline="javascript">
    function plotBarChart() {
        return new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: [[${barChart.labels}]],
                datasets: [
                    {
                        label: "People",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3e95cd"],
                        data: [[${barChart.data}]]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Confirmed Cases of Covid 19'
                }
            }
        });
    }

</script>

</html>